.icon {
  display: block;
  background-size: cover;
  background-position: center;

  @include icon-size;

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
  }

  &--menu {
    .animated-svg {
      @include icon-size;

      .animated-path {
        transition: d $effectDuration;
      }
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);

    @include hover(transform, scale(1.2));
  }
}
